
/*** responsive device styles ***/

@media only screen and (max-width: 1200px) {
		.wrapper {
			width: 90%
		}
}

@media only screen and (max-width: 1000px) {
	.wrapper {
		width: 90%;
	}

	#social {
		position: absolute;
		top: 60px;
		right: 25%;
		width: auto;
	}

	#social a {
		display: inline-block;
	}

	form {
		padding-left: 120px;
		padding-right: 150px;
		padding-bottom: 50px;
	}

	th {
		padding-right: 10px;
		padding-left: 10px;
	}

}

@media only screen and (max-width: 850px) {
		body {
			font-size: 85%;
		}

		footer {
			font-size: 18px;
		}

		form {
			padding-left: 120px;
			padding-right: 100px;
			padding-bottom: 50px;
		}

		th {
			padding-right: 0px;
			padding-left: 0px;
		}
}

@media only screen and (max-width: 775px) {
		#nav_bar nav a {
			display: none;
		}

		#nav_bar nav a.menu-icon {
			display: block;
			float: center;
			font-size: 1.75em;
			padding: 5px 0px 0px 0px;
			width: auto;
		}

		#social {
			position: absolute;
			right: 25%;
			top: 12%;
		}

		#social a {
			display: inline-block;
		}

		footer {
			font-size: 16px;
			height: 100%;
		}

		.milk-bone {
			padding-top: 45px;
		}

		.milk-text {
			padding-top: 30px;
		}

		.figcaption {
			font-size: 1.35em;
		  line-height: 1.15em;
		}

}

@media only screen and (max-width: 650px) {
	#nav_bar nav a {
		display: none;
	}

	#nav_bar nav a.menu-icon {
		display: block;
		float: center;
		font-size: 2.0em;
		padding: 3px 0px 0px 0px;
		width: auto;
	}

		#social {
			position: absolute;
		 	top: 12%;
		 	right: 25%;
	}

		#social a {
		display: inline-block;
	}

		#About {
			background: blue;
		}

		th {
			padding-right: 0px;
			padding-left: 0px;
			padding-top: 10px;
		}

		body {
			font-size: 70%;
		}

		footer {
			font-size: 15px;
			height: 100%;
		}

		form {
			padding-left: 80px;
			padding-right: 60px;
			padding-bottom: 30px;
		}

		.figcaption {
			font-size: 1.15em;
			line-height: 1.15em;
		}

		#contentsix {
		padding: 	0px 20px 20px 20px;
		margin: 0 auto;
		width: 100%;
		height: auto;
		}

		.hello {
			font-size: 1.75em;
			line-height: 1.25em;
		}
}

		@media only screen and (max-width: 500px) {
				#social {
					position: absolute;
				 	top: 10%;
				 	right: 5%;
			}

				#social a {
				display: inline-block;
			}

			footer {
				font-size: 14px;
				height: 75%;
			}
}
