
/*** responsive device styles ***/
@media only screen and (max-width: 1000px) {

	.wrapper {
		width: 90%;
	}

	#social {
		position: absolute;
		top: 60px;
		right: 25%;
		width: auto;
	}

	#social a {
		display: inline-block;
	}

}

@media only screen and (max-width: 850px) {
		body {
			font-size: 85%;
		}

		footer {
			font-size: 18px;
		}
	}
@media only screen and (max-width: 750px) {
		#nav_bar nav a {
			display: none;
		}
		#nav_bar nav a.menu-icon {
			display: block;
			float: center;
			font-size: 2.0em;
			padding: 10px 20px;
			width: auto;
		}
		#social {
			right: 10%;
			top: 15%;
		}
		footer {
			font-size: 14px;
		}
		.milk-bone {
			padding-top:45px;
		}

}

@media only screen and (max-width: 585px) {
		#social {
			position: fixed;
		 	top: 200px;
		 	right: 3px;
		 	width: 60px;
		 	z-index: 2;
	}
		#About {
			background: blue;
		}
		body {
			font-size: 65%;
		}
		footer {
			font-size: 12px;
		}
}
