@import url(https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(https://fonts.googleapis.com/css?family=Clicker+Script);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
/* above is google fonts, for additional cool fonts */

/* this is a comment */
/* selector { property: value; }*/
/* selectors---type p{..} Id #box{..} Class .thick {...} Compound h1, h2, #box {..} */
/* Type Selector    p(..)-- selects all elements with matching selector name */
/* Id Selector(deals with single element)    #box-- selects all elements with an id attribute value matching the selector name. <div id="box"> */
/* Class Selector(spread thruout page among many elements)    .thick -- selects all elements with a class attribute value matching the selector name. <span class="thick"> */
/* CompoundSelector    h1 h2 #box-- selects all matched elements in the compound set. */




/* scale all images, and media to accomodate responsive layout. */
img, video, audio, iframe, table, form {
	width:100%; /* IE */
	max-width: 100%; /* FF, Safari, Chrome */
}

/* prevent the verify image on contact page from stretching */
img.verif_img {
	width: 50px;
	height:30px;
	vertical-align: bottom;
}

/* type selector */
h3 {
margin-top: 100px;
margin-bottom: 5px;
}

h4 {
	color: black;
	font-size: 1.0em;
	line-height: 1.0em;
	font-family: 'Open+Sans';
	padding-bottom: 150px;
}

 h2 {
	 color: black;
	 font-size: 2.0em;
	 line-height: 2.0em;
	 font-family: 'Clicker+Script';
	 padding-bottom: 20px;
 }

p {
  color: ivory;
  font-size: 1.75em;
  line-height: 1.25em;
  font-family: 'Clicker+Script';
	padding-bottom: 170px;
	padding-left: 20px;
	padding-right: 200px;
}

s {
	color: black;
	font-size: 1.75em;
	line-height: 1.25em;
	font-family: 'Clicker+Script';
}

figcaption{
  font-weight: normal;
  font-size: .75em;
  line-height: 1.5em;
  font-family: Georgia;*/
  font: normal .75em/1.5em Georgia;
  color: ffff00;
  text-align: right;
}

/* class selector applied to as many elements as you like */
.milk-text {/*select elements with class="milk-text" */
  font: bold 4.6em 'Elsie Swash Caps', cursive;
  color: royalblue;
	text-align: left;
	margin-top: 50px;
	margin-bottom: -10px;
	}

.milk-bone {/*select elements with class="milk-bone" */
	  font: bold 4.6em 'Elsie Swash Caps', cursive;
	  color: royalblue;
		text-align: left;
		margin-top: 35px;
		margin-bottom: -10px;
		padding-top: 20px;
		padding-bottom: 0px;
	}

.show-text {
  font: bold 5.6em 'Open Sans', cursive;
  color:red;
}

.border_right {
	border-right: .50px dotted #ccc;
	padding-right: 70px;
}

.cat-text{
	margin: 0 0 -250px;
	font-size: 20px;
	font-style: italic;
}

.dog-text{
	margin: 0 0 -550px 0;
	font-size: 20px;
	font-style: italic;
}

.hello {
		color: black;
		font-size: 1.50em;
		line-height: 1.25em;
	  font-family: 'Elsie Swash Caps' cursive;
		padding-bottom: -400px 0px;
	 }

.wrapper2 {
	   margin: 0 auto;
	   width: 60%;
	   padding-bottom: 40px;
	 }

/* class selector for body, creating background */
body.space {
	  background-color: deepskyblue;
	 }
body.about {
	 	background: url(/Users/greg/.atom/code/labs/worksit/images/IMG_9681.jpg);
	 	background-repeat: no-repeat;
	 	background-position: right;
	 }
body.contact {
	 	background: orange;
	 }

body.bookings {
	 	background: red;
	 }





/*id selector (apply to one element per page) */
	#big {
	padding: 25px 100px;
	}

	#logo{/* select elements with id="logo" */
	padding: 85px 0 25px;
	}

	#content{
	padding: 	0px 0px 75px 0px;
	margin: 0 auto;
	width: 100%;
	height: auto;
  }

	#About {
		background: url(/Users/greg/.atom/code/labs/worksit/images/IMG_9681.jpg);
		background-repeat: no-repeat;
		background-position: right;
}
	#Space {
		background-color: deepskyblue;
		margin-top: 0px;
}
	#Bookings {
		background: red;
}
	#Contact {
	background: orange;

}

	/********** Id Selector for Nav Bar **********/
 	#nav_bar {
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	z-index: 1;
 	background: url(../images/header-fade.gif);
	background-color: white;
 	border-bottom: 2px solid #ccc;
 	text-align: center;
 	}

 	 #nav_bar nav {
	 border-left: 1px #ccc;
 		}

	 #nav_bar nav a {
		 display: inline-block;
		 width: 15%;
		 margin: 0;
		 padding: 12px 0;
		 text-transform: uppercase;
		 color: black;
		 text-align: center;
		 border-right: 1px #ccc;
		 text-decoration: none;
		 font: 15px "Open+Sans", Arial, sans-serif;
	 	}

	 #nav_bar nav a.selected {
		 background: black;
		 color: white;
	 	}

	 #nav_bar nav a:hover {
		 color:white;
		 /* gradient */
		 background: rgb(0,0,0); /* Old browsers */
		 background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(71,71,71,1) 28%, rgba(81,81,81,1) 35%, rgba(71,71,71,1) 72%, rgba(43,43,43,1) 87%, rgba(28,28,28,1) 91%, rgba(0,0,0,1) 100%); /* FF3.6+ */
		 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(28%,rgba(71,71,71,1)), color-stop(35%,rgba(81,81,81,1)), color-stop(72%,rgba(71,71,71,1)), color-stop(87%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
		 background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
		 background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
		 background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* IE10+ */
		 background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* W3C */
	 	}

		#nav_bar nav a.menu-icon {
			display: none;
		}
   /* ID selector for social media icons */
	 #social {
	 	position: fixed;
	 	top: 200px;
	 	right: 3px;
	 	width: 60px;
	 	z-index: 2;
	 	}

	 /*class selector for social media icons*/
	 a.insta {
	 	display: block;
	 	width: 40px;
	 	height:40px;
	 	text-indent: 100%;
	 	white-space: nowrap;
	 	overflow: hidden;
	 	background: url(/Users/greg/.atom/code/labs/worksit/images/IMG_9676.jpg) no-repeat;
	 	}

	 a.insta { background-position: 0 -200px; }
	 a.insta:hover { background-position: -40px -200px; }
	 a.insta:active { background-position: -80px -200px; }

		a.twitt {
	 		display: block;
	 		width: 40px;
	 		height:40px;
	 		text-indent: 100%;
	 		white-space: nowrap;
	 		overflow: hidden;
	 		background: url(/Users/greg/.atom/code/labs/worksit/images/IMG_9676.jpg) no-repeat;
	 		}

	 	a.twitt { background-position: 0 -120px; }
	 	a.twitt:hover { background-position: -40px -120px; }
	 	a.twitt:active { background-position: -80px -120px; }





		/********** Id selectors for Details *********/
		#details {
			clear:both;
			padding: 0px 0px 250px 0px;
			/* gradient */
			background: rgb(229,229,229); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(99%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%); /* W3C */
			}

			#details a:link, #details a:visited {
				color: black;
				text-decoration: none;
			}

			#details a:hover, #details a:active {
				text-decoration: underline;
			}


		/********** Footer **********/

		footer {
			text-align: center;
			font-size: 20px;
			color: #555;
			padding:10px 0px 0px 0px;
			background-color: lightgray;
			border-top: 3px solid white;
			height: 100px;
		  }
