@import url(https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(https://fonts.googleapis.com/css?family=Clicker+Script);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);


/* this is a comment */
/* selector {
property: value;
}

/* scale all images, and media to accomodate responsive layout. */
img, video, audio, iframe, table, form {
	width:100%; /* IE */
	max-width: 100%; /* FF, Safari, Chrome */
}

/* prevent the verify image on contact page from stretching */
img.verif_img {
	width: 50px;
	height:30px;
	vertical-align: bottom;
}

/* type selector */

p {
  color: green;
  font-size: 2.0em;
  line-height: 2.0em;
  font-family: vollkorn;
}

figcaption{/*
  font-weight: normal;
  font-size: .75em;
  line-height: 1.5em;
  font-family: Georgia;*/
  font: normal .75em/1.5em Georgia;
  color: ffff00;
  text-align: right;
}

/* class selector applied to as many elements as you like */
.milk-text {/*select elements with class="milk-text" */
  font: bold 5.6em 'vollkorn', cursive;
  color: red;
}

.show-text {
  font: bold 5.6em 'Open Sans', cursive;
  color:red;
}
/*id selector (apply to one element per page) */
#logo{/* select elements with id="logo" */
background-color: white;
}



/*descendant selector*/
/*psuedo selector*/
